* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.promo-section {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.promo-text {
    flex: 1;
    padding: 80px;
    background-color: #1c1c1c;
}

.promo-text h2 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 20px;
}

.promo-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #dcdcdc;
}

.promo-image {
    flex: 1;
}

.promo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive */
@media (max-width: 900px) {
    .promo-section {
        flex-direction: column;
    }

    .promo-text,
    .promo-image {
        width: 100%;
        padding: 40px;
    }

    .promo-text h2 {
        font-size: 2rem;
    }
}