*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    text-align: center;
    width: 350px;
}

.logo{
    width: 130px;
    margin-bottom: 35px;
}

h2{
    font-size: 22px;
    margin-bottom: 20px;
    color: #1f2d3d;
}

.mobile-input{
    width: 100%;
    padding: 14px;
    border: 1.5px solid #d5dce4;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    margin-bottom: 18px;
}

.checkbox-row{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 12px;
    color: #2d2d2d;
}

.checkbox-row a{
    color: #0058ff;
    text-decoration: none;
}

.whatsapp{
    color: #25D366;
    font-weight: 600;
}

.otp-btn{
    width: 100%;
    padding: 15px;
    background: #e8ecf2;
    color: #98a5b1;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}
